a{
  text-decoration: none;
}
.bg-light-green {
  background-color: #ACB69C !important;
}

.bg-green {
  background-color: #3038AC !important;
}

.text-light-green{
  color: #1AAE29 !important;
}

.text-secondary {
  color: #6F6F6F !important;
}

.bg-secondary {
  background-color: #F5F5F5 !important;
}

.text-green {
  color: #3038AC !important;
}

.btn-success {
  background-color: #ACB69C !important;
  color: white;
  border-color:  #ACB69C !important;
}
.bg-light-blue{
background-color: #E8F1FE !important;
}
.border-secondary {
  border: 2px solid #00000029 !important;
}

img.nav-icon {
  width: 13px !important;
}

a.nav-link {
  font-size: 15px !important;
}

.btn-check:checked+.btn {
  background-color: #ffffff !important;
  border-color: black !important;
}

ul.ul {
  list-style: none;
  display: flex;
  align-items: center;
}
ul.ul2 {
  list-style: none;
  display: flex;
  align-items: center;
}


ul.ul3 {
  list-style: none;
  display: flex;
  align-items: center;
}
.fav{
  position: relative;
  left: 35%;
}

.form-container { 
  width: 100%;
  padding: 50px 30px;

}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.form-group label {
  /* position: absolute;
  left: 12px;
  top: 12px; */
  font-size: 14px;
  color: #777;
  transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.form-group input:focus {
  border-color: #007bff;
  outline: none;
}

.form-group input:focus+label,
.form-group input:not(:placeholder-shown)+label {
  top: -6px;
  font-size: 12px;
  color: #007bff;
  background-color: #ffffff;
  padding: 0 4px;
  border-radius: 4px;
  left: 8px;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #3038AC;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.underline-text-center {
  position: relative;
  padding-bottom: 5px;
  display: inline-block;
  color: #3038AC;
}

.underline-text-center::after {
  position: absolute;
  bottom: 0px;
  content: " ";
  width: 60%;
  background: #3038AC;
  height: 7px;
  left: 20%;
  right: 20%;
  border-radius: 0;
}


/* .owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  z-index: 1;
  width: 40px;
  height: 40px;
  background-color: white;
  position: absolute;
  top: 45%;
  transform: translatey(-50%);
  clip-path: circle();
  color: #3038AC !important;
  -webkit-box-shadow: 0px 1px 23px 0px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 1px 23px 0px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 1px 23px 0px rgba(0, 0, 0, 0.75) !important;

}

.owl-nav button span {
  font-size: 30px;
  height: 100%;
  display: block;
  width: 100%;
  line-height: 35px;
  -webkit-box-shadow: 0px 1px 23px 0px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 1px 23px 0px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 1px 23px 0px rgba(0, 0, 0, 0.75) !important;
} */

/* .owl-carousel .owl-nav button.owl-prev {
  left: 0;
} */

/* .owl-carousel .owl-nav button.owl-next {
  right: 0;
}

.owl-carousel .owl-nav {
  margin: 0;
}

.owl-carousel .owl-item img {
  display: flex !important;
  width: 100%;
} */

.owl-prev,
.owl-next {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  background-color: transparent; /* Set a background color if needed */
  border: none; /* Remove border if needed */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-prev {
 display: none;
}

.owl-next {
  right: 0;
}

.owl-prev img,
.owl-next img {
  max-width: 100%; /* Ensure the image fills the button */
}


.productImage img#largeImage {
  height: 400px;
  border: 2px solid #707070;
  padding: 10px;
  width: 75%;
}

#description {
  padding: 5px;
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.5);
}

#thumbs img {
  height: 100px;
  cursor: pointer;
  padding: 10px;
  border: 2px solid #707070;
  border-radius: 17px;
}

.border-radius-20{
  border-radius: 20px !important;
}



.range-slider {
    width: 300px;
    margin: auto;
    text-align: center;
    position: relative;
    height: 6em;
}

.range-slider svg,
.range-slider input[type=range] {
    position: absolute;
    left: 0;
    bottom: 0;
}

input[type=number] {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1.6em;
    appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number]:invalid,
input[type=number]:out-of-range {
    border: 2px solid #ff6347;
}

input[type=range] {
    appearance: none;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #2497e3;
}

input[type=range]:focus::-ms-fill-lower {
    background: #2497e3;
}

input[type=range]:focus::-ms-fill-upper {
    background: #2497e3;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
   /* animate: 0.2s;*/
    background: #3038AC;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}

input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #3038AC;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #3038AC;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    /* animate: 0.2s; */
    background: #B6B6B6;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}

input[type=range]::-moz-range-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #3038AC;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
   /* animate: 0.2s; */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
    background: #3038AC;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}

input[type=range]::-ms-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #3038AC;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
}
::placeholder {
  font-size:12px;
}




header .header-logo {
  color: #001b4f;
  font-weight: 700;
  font-size: 23px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

header .header-logo img {
  width: 120px;
  height: 120px;
  position: absolute;
  top: -19px;
}

header {
  background: #F5F5F5;
  -webkit-box-shadow: 0 1px 5px 0 rgba(83, 83, 83, 0.4);
  box-shadow: 0 1px 5px 0 rgba(83, 83, 83, 0.4);
  /* position: -webkit-sticky; */
  /* position: sticky;
  top: 0;
  z-index: 1000; */
}

header .main-menu > li {
  position: relative;
}

header .main-menu > li > a {
  color: black;
  font-size: 13px;
  padding: 15px 1.5vw; 
  display: block;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  text-transform: uppercase;
}

header .main-menu > li.active > a {
  /*color: white;*/
  color: black;
}

header .main-menu > li:hover > a {
  /*color: white;*/
  color: black;
}

header .main-menu > li > a > i {
  color: black;
}

header .main-menu > li > a:hover > i {
  /*color: #fff;*/
  color: black;
}

header .main-menu > li:hover > a i {
  /*color: #fff;*/
  color: black;
}

header .main-menu .sub-menu {
  display: none;
  position: absolute;
  left: 50%;
  top: 100%;
  width: 250px;
  overflow: hidden;
  border-top: 2px solid black ;
  border-bottom: 2px solid black ;
  background: #fff;
  -webkit-box-shadow: 0 1px 5px 0 rgba(83, 83, 83, 0.2);
  box-shadow: 0 1px 5px 0 rgba(83, 83, 83, 0.2);
  z-index: 5;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

header .main-menu .sub-menu a {
  padding: 11px 10px;
  display: block;
  color: black;
  font-weight: 600;
  font-size: 15px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

header .main-menu .sub-menu a i {
  color: black;
}

header .main-menu .sub-menu a:hover {
  background: black ;
  color: #fff;
}

header .main-menu > li:hover .sub-menu {
  display: block;
}

header .header-logo figure img {
  max-width: 200px;
}

header .demo-link {
  margin-left: 1vw;
}

header .side-menu-close {
  background: transparent;
}

header .side-menu-close span {
  background: #21395f;
  width: 28px;
}

#call-action .call-action {
  color: #001b4f;
  font-weight: 700;
  font-size: 15px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

#call-action .call-action:hover {
  color: white;
}

/* side menu */
.side-menu-wrap {
  width: 300px;
  position: fixed;
  left: -100%;
  top: 0;
  background: #fff;
  height: 100%;
  -webkit-box-shadow: 0 1px 5px 0 rgba(83, 83, 83, 0.2);
  box-shadow: 0 1px 5px 0 rgba(83, 83, 83, 0.2);
  overflow-y: auto;
  z-index: 15000;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.side-menu-wrap.opened {
  left: 0;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

.side-menu-logo {
  border-bottom: 2px solid #3038AC ;
}

.side-menu-nav .main-menu > li {
  position: relative;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.side-menu-nav .main-menu > li > a > i {
  color: #03328e;
}

.side-menu-nav .main-menu .sub-menu {
  border-top: 1px solid #3038AC ;
  background: #fff;
  display: none;
}

.side-menu-nav .main-menu .sub-menu li {
  border-bottom: 1px solid #eee;
}

.side-menu-nav .main-menu .sub-menu a {
  padding: 10px 22px;
  display: block;
  color: #212529;
  font-weight: 600;
  font-size: 0.9em;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.side-menu-nav .main-menu .sub-menu a i {
  color: #03328e;
}

.side-menu-nav .main-menu .sub-menu ~ i {
  font-size: 0.8em;
  position: absolute;
  padding: 21px 11px;
  right: 0;
  top: 0;
  /* border-left: 1px solid #ccc; */
}

.side-menu-nav .main-menu .sub-menu a:hover {
  background: #f5f5f5;
}

.side-menu-nav .main-menu > li > a {
  color: #212529;
  padding: 15px 30px 15px 10px;
  font-weight: 600;
  display: block;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.side-menu-wrap .side-menu-close {
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
  width: 30px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.side-menu-close {
  height: 40px;
  width: 40px;
  background: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.side-menu-close span {
  height: 2px;
  width: 20px;
  background: #000000;
  position: relative;
  opacity: 1;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.side-menu-close span:nth-child(1) {
  top: -5px;
}

.side-menu-close span:nth-child(3) {
  bottom: -5px;
}

.side-menu-close.closed span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
  -webkit-transform: translateY(7px) rotate(45deg);
  -moz-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  -o-transform: translateY(7px) rotate(45deg);
}

.side-menu-close.closed span:nth-child(2) {
  opacity: 0;
}

.side-menu-close.closed span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
  -webkit-transform: translateY(-7px) rotate(-45deg);
  -moz-transform: translateY(-7px) rotate(-45deg);
  -ms-transform: translateY(-7px) rotate(-45deg);
  -o-transform: translateY(-7px) rotate(-45deg);
}


.site-logo{
  display: none;
}

.main-logo{
  display: flex;
}
input::-ms-value{
  font-weight: 800;
}

.btn-primary-light{
  background-color: #ACB1FF;
  color: white;
}
.btn-primary-light:hover{
  background-color: #ACB1FF;
  color: white;
}
.nav2{ 
  display: flex;
  justify-content: space-between;
  
}

 .signup{
  position: absolute !important;
    right: 8px !important;
    top: 5px !important;
 }

 .btn-primary{
  background-color:#3038AC !important ;
  color: white;
 }
 li.social-icon {    border: 2px solid black;
  padding: 2%;
  border-radius: 50%;
  width: 32px;
  height: 34px;
  
 }
.social-icon img{
  width: 17px ;  
  border-radius: 34%;
  position: absolute;
 

 }

 .btn-outline-primary{
border-color: #3038AC !important ;
color: #3038AC !important ;
 }


 .btn-outline-primary:hover{
  border-color: #3038AC !important ;
  background-color: #3038AC !important ;
  color: white !important ;
     }
 footer{
  background-color: #EEEEEE !important;
 }

 .fw-medium{
  font-weight: 400 !important;
  font-size: 16px;
 }
 .subscribe{
  width: 50% !important;
}
.saved-add{
  width: 75%;
}
.cat-img{
  width:200px !important; height:200px !important;
}
@media only screen and (max-width: 770px) {

  .badge{
    top: 9px !important;
    font-size: 9px; 
  }
  .cat-img{
    width:100% !important; 
    height:100% !important;
  }
  .site-logo{
    display: flex;
  }
  .nav2{ 
    display: block; 
    
  }
  .main-logo{
    display: none;
  }
  ul.ul{
    padding-left: 0;
  }

  .social-icon img { 
    position: relative !important;
    top: -6px !important;
}


ul.ul {
  justify-content: center !important;
}
ul.ul2 {
  justify-content: start !important;
}


ul.ul3 {
  justify-content: start !important;
}
.subscribe{
width: 100% !important;
}
.saved-add{
width: 100%;
}
}

.fs-10{
  
  font-size: 10px !important;

}



body.modalBlur > *:not(.modal) {
  -webkit-filter: blur(8px);
}



 